<h2 class="text-center">Contact Us</h2>
<div class="c-form">
  <form action="">
    <br>
    <input type="text" name="fist-name" placeholder="First Name">
    <br>
    <input type="text" name="last-name" placeholder="Last Name">
    <br>
    <input type="email" name="email" placeholder="Email">
    <br>
    <input type="text" name="phone-number" placeholder="Phone number">
    <br>
    <input type="text-area" name="comment" placeholder="Comment">
    <input type="submit" name="submit">
  </form>
</div>
