
<div class="jumbotron">
  <div class="">

  </div>
  <div class="">
    <h2>Ninja Medical Housing</h2>
    <p>Lyft chartreuse prism, bitters vape hexagon tofu knausgaard normcore hashtag heirloom pork belly. Ugh cornhole seitan iceland tumblr, vinyl distillery tousled four dollar toast organic. Franzen fingerstache semiotics etsy kitsch, vinyl chicharrones af fashion axe copper mug bitters edison bulb raw denim selvage. Retro paleo taxidermy, readymade sartorial XOXO craft beer bushwick mlkshk. Af direct trade man braid, everyday carry farm-to-table kickstarter selfies jianbing. Glossier etsy hoodie enamel pin photo booth kogi, typewriter pop-up craft beer echo park tumblr gastropub shoreditch. Pabst trust fund PBR&B distillery.
    </p>
    <p>Learn more, or learn less. There is no learn some!</p>
  </div>
  <p><%= link_to "Get Started Now!", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
</div>
