
<div class="jumbotron">
  <div class="">

  </div>
  <div class="">
    <h2><i class="fa fa-heartbeat" aria-hidden="true"></i> Ninja Medical Housing</h2>
     <p>Ninja Medical Housing was created to provide a better housing experience to medical professionals that come to Grants to serve our residents. We have furnished an apartment and made it available on a schedule that matches the normal 12 hour schedule. We have also priced it to save you more of your hard-earned money.
    </p>
    <p>We have made the registration process as easy as we possibly could too.</p>
  </div>
  <p><%= link_to "Get Started Now!", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
</div>
