<h1>FAQ</h1>

<div class="faq-container"> <!-- Start faq container div -->
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
          <i class="fa fa-sort-desc"></i> How does this work?</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">There is three steps to the process. First you will register which includes agreeing to the rental agreement, paying the $25 registration fee and the $25 deposit. The second step is to reserve the apartment for the times you need. We will send you a comfirmation email and give you the important details. The third step is to go to the apartment, make the bed and get some sleep. Ok, so you can do other things like cook and eat but remember to remove all evidence before you leave including stripping the sheets off the bed. <%# TODO:  %>
          <br>
          <%= link_to "Get started now!", new_user_registration_path, class: "btn btn-primary btn-lg" %>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
          <i class="fa fa-sort-desc"></i> Are there any hidden fees?</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">Well, if I told you about them they wouldn't be hidden. The only fees are the registration fee ($25), the deposit that is refunded to you when you tell us you no longer want to stay with us ($25), the rental fee for 11 hours, ($25), and the additional person cost to use the second bedroom ($10). That is it!</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
          <i class="fa fa-sort-desc"></i> Can I get my deposit back?</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">Yes, the $25 deposit will be refunded to you once you no longer want to stay with us. Just shoot us an email and we will send it out to you, assuming that there haven't been any damages to the apartment while you were staying with us.</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
          <i class="fa fa-sort-desc"></i> Can I get my registration fee back?</a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body">No, the registration fee pays to set up your account and get you in the system. It is non-refundable.</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
          <i class="fa fa-sort-desc"></i>What am I responsible for while I am in the apartment?</a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse">
        <div class="panel-body">The idea is for everyone to take care of the apartment and to clean up after themself. We will come in and check on the place and pick up the soiled linens and remove the trash.You will have to pick a set of sheets and make the bed when you arrive and strip the bed when you are done. You are welcome to cook or anything else, just clean everything up when you are done.</div>
      </div>
    </
    div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
          <i class="fa fa-sort-desc"></i>What do I do is something goes wrong while I am there, for example a plumbing problem?</a>
        </h4>
      </div>
      <div id="collapse6" class="panel-collapse collapse">
        <div class="panel-body">We are only a phone call away. Just call the managers at 505-240-0030 or 505-290-3404.</div>
      </div>
    </div>
  </div>
</div> <!-- End faq container div -->
