<h1>FAQ</h1>

<div class="faq">
  <h3>Something</h3>
  <p>Franzen fingerstache semiotics etsy kitsch, vinyl chicharrones af fashion axe copper mug bitters edison bulb raw denim selvage. Retro paleo taxidermy, readymade sartorial XOXO craft beer bushwick mlkshk. Af direct trade man braid, everyday carry farm-to-table kickstarter selfies jianbing. Glossier etsy hoodie enamel pin photo booth kogi, typewriter pop-up craft beer echo park tumblr gastropub shoreditch. Pabst trust fund PBR&B distillery.</p>
</div>

<div class="faq">
  <h3>Something</h3>
  <p>Franzen fingerstache semiotics etsy kitsch, vinyl chicharrones af fashion axe copper mug bitters edison bulb raw denim selvage. Retro paleo taxidermy, readymade sartorial XOXO craft beer bushwick mlkshk. Af direct trade man braid, everyday carry farm-to-table kickstarter selfies jianbing. Glossier etsy hoodie enamel pin photo booth kogi, typewriter pop-up craft beer echo park tumblr gastropub shoreditch. Pabst trust fund PBR&B distillery.</p>
</div>

<div class="faq">
  <h3>Something</h3>
  <p>Franzen fingerstache semiotics etsy kitsch, vinyl chicharrones af fashion axe copper mug bitters edison bulb raw denim selvage. Retro paleo taxidermy, readymade sartorial XOXO craft beer bushwick mlkshk. Af direct trade man braid, everyday carry farm-to-table kickstarter selfies jianbing. Glossier etsy hoodie enamel pin photo booth kogi, typewriter pop-up craft beer echo park tumblr gastropub shoreditch. Pabst trust fund PBR&B distillery.</p>
</div>
